@import 'tailwind.css';
@import 'github-markdown.css';

* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  @apply bg-white dark:bg-[#09090B] text-black dark:text-white;
}


.main {
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: inside;
}
