@import 'tailwind.css';
@import 'github-markdown.css';

* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  @apply bg-white dark:bg-[#09090B] text-black dark:text-white;
}

ul {
  list-style: inside;
}

.markdown-body a {
  @apply text-black dark:text-white;
}

span {
  font-family: "Source Code Pro", 'Noto Sans JP', sans-serif;
  font-size: 15px;
}
